*{
    margin: 0;
}

body{
    background-image: url("imagenes/fondo2.webp");
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
li{ font-size: 1.25em;}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/hero.webp");
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
}

header h1{
    color: white;
}

#about{
    text-align: center;
    padding: 200px 12px;
}

#about h1{
    color: white;
}

.bloque img{
    border-radius: 2%;

    width: 550px;
    height: 500px;
    object-position: center;
}

#historia{
    max-width: 1400px;
    margin: 0;
    text-align: center;
    align-items: center;
}

#historia img{
    border-radius: 2%;
    width: 600px;
}

#demo{
    margin: 8em;
    color: white;
    text-align: center;
}

#demo img{
    width: 600px;
}

#nosotros{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#nosotros .miembros{
    background-size: cover;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 10em;
}

.miembro:first-child{
    background-position: center,center;
        background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/gato.webp");
    padding: 20px;
    height: 300px;
    width: 300px;
    border-radius: 100%;
}

.miembro:nth-child(2){
    background-position: center,center;
        background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/iguana.webp");
    padding: 20px;
    height: 300px;
    width: 300px;
    border-radius: 100%;
}

.miembro:nth-child(3){
    background-position: center,center;
        background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/tiburon.webp");
    padding: 20px;
    height: 300px;
    width: 300px;
    border-radius: 100%;
}

.miembro:nth-child(4){
    background-position: center,center;
        background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/jirafa.webp");
    padding: 20px;
    height: 300px;
    width: 300px;
    border-radius: 100%;
}

.miembro:nth-child(5){
    background-position: center,center;
        background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/hipo.webp");
    padding: 20px;
    height: 300px;
    width: 300px;
    border-radius: 100%;
}

.miembro:nth-child(6){
    background-position: center,center;
        background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/rino.webp");
    padding: 20px;
    height: 300px;
    width: 300px;
    border-radius: 100%;
}

footer{
    text-align: center;
}