
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-image: url("imagenes/fondo2.png");
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    margin: 0;
        display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/hero.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

header h1{
    color: white;
}

#about{
    text-align: center;
    padding: 200px 12px;
}

#about h1{
    color: white;
}

.bloque img{
    border-radius: 2%;
    width: 550px;
    height: 500px;
    object-position: right;
}

#historia{
    max-width: 1400px;
    margin: 0;
    text-align: center;
    align-items: center;
}

#historia img{
    border-radius: 2%;
    width: 600px;
}

#demo{
    color: white;
    text-align: center;
}

#demo img{
    width: 700px;
}

#nosotros{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}


#nosotros .miembros{
    background-size: cover;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.miembro:first-child{
        background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/gato.png");
    padding: 20px;
    height: 400px;
    width: 400px;
    border-radius: 100%;
}

.miembro:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/iguana.png");
    padding: 20px;
    height: 400px;
    width: 400px;
    border-radius: 100%;
}

.miembro:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/tiburon.png");
    padding: 20px;
    height: 400px;
    width: 400px;
    border-radius: 100%;
}

.miembro:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/jirafa.png");
    padding: 20px;
    height: 400px;
    width: 400px;
    border-radius: 100%;
}

.miembro:nth-child(5){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/hipo.png");
    padding: 20px;
    height: 400px;
    width: 350px;
    border-radius: 100%;
}

.miembro:nth-child(6){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/rino.png");
    padding: 20px;
    height: 400px;
    width: 400px;
    border-radius: 100%;
}
